<launch>
  <arg name="joy_config" default="ps3" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="agribot_joystick" default="$(find agribot_joystick)/config/agribot_joystick.yaml" />
 

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" />
    <!--remap from="/joy" to="/agribot/joy"/-->
  </node>
  <node pkg="agribot_joystick" name="agribot_joystick" type="agribot_joystick" output="screen">
    <rosparam command="load" file="$(arg agribot_joystick)" />
    <!--remap from="/joy" to="/agribot/joy"/-->
    <!--remap from="/cmd_vel" to="/agribot/cmd_vel"/-->
  </node>

</launch>
