<?xml version="1.0"?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="real_time_update_rate" default="true"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find agribot_gazebo)/worlds/farmWith1CropRow.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find agribot_control)/urdf/agribot.xacro'"/>
  <node name="agribot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
   args="-x -6.0 -y 0 -z 1.13 -Y 0   -urdf -param robot_description -model agribot">
  </node> 

<!--     <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find agribot_gazebo)/worlds/FarmWith5CropRow.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find agribot_control)/urdf/agribot.xacro'"/>
  <node name="agribot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
   args="-x 6.0 -y 2.4 -z 1.13 -Y 0   -urdf -param robot_description -model agribot">
  </node> -->

<!-- -x 3 -y 3.6 -z 1.13 -Y 0      step 1-->
<!-- -x 9 -y 3.6 -z 1.13 -Y 0     step 2-->
<!-- -x 12 -y 2.7 -z 1.13 -Y 0    step 3-->
<!-- -x 3.5 -y 2.7 -z 1.13 -Y 0   step 4-->  
  <!-- ros_control pioneer launch file -->
<!--   <include file="$(find agribot_control)/launch/agribot_control.launch" />
 -->
</launch>
